.category {
  height: 300px;
  width: 260px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 2px;
}

.category img {
  width: 100%;
  object-fit: contain;
  max-height: 220px;
}

.category a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.category h2 {
  font-size: 20px;
  padding: 5px;
  margin-left: 15px;
}

.category p {
  font-size: 20px;
  padding: 5px;
  margin-left: 15px;
  font-weight: bold;
  color: rgb(9, 132, 209);
}

.category__container {
  position: relative;
  top: -300px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  place-items: center;
  margin-bottom: -250px;
  padding: 10px;
}

@media (max-width: 568px) {
  .category {
    width: 100%;
    max-width: 80%;
  }
}